body{

    background: #c9d6ff;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/clouds.png');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    animation: move-body 20s linear infinite;

  

}
@keyframes move-body {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  li div:first-child {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  li div:nth-child(2) {
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  li div:last-child {
    font-size: 0.8em;
  }
  
  li a {
    text-decoration: none;
    color: blue;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  .temper{
   display: flex;
   flex-direction: row;
  }
  .temp{
    margin-top: 25px;
  }

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .headerTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .weatherbox{
    width: 700px;
    padding: 20px;
    border-radius: 20px;
   border: 1px solid #ccc;


    box-shadow: 10px 10px 10px 10px rgba(13, 129, 218, 0.5);

  }
  .input{
    margin-left: 100px;
    
    margin-top: 20px;

  }
  /* .wethbox{
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(1, 0, 0, 0.5);
  } */

.search {

    /* border: 1px solid rgb(79, 113, 122); */
    border-radius: 5px;
    height: 40px;
    width: 120%;
    margin-top: 30px;
    /* padding: 20px 23px 2px 30px; */
    outline: 0;
    /* background-color: #edefef; */
  } 

  .marginNews{
    margin-top: 15px;
    margin-left: 15px;
  }

  .newsbox{
    width: 700px;
    padding: 20px;
    border-radius: 20px;
   border: 1px solid #ccc;

   /* margin-top: 100px; */
    box-shadow: 10px 10px 10px 10px rgba(13, 129, 218, 0.5);
  }
  .calendar{
    width: 700px;
    padding: 20px;
    border-radius: 20px;
   border: 1px solid #ccc;

   margin-top: 70px;
    box-shadow: 10px 10px 10px 10px rgba(13, 129, 218, 0.5);
  }